#coding {
  overflow: hidden;
  position: relative;

  #CodingIntro {
    width: 100%;
    height: 180vh;
    background: var(--background2);
    position: relative;
    .CodingIntro__inner {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 30vh;
      .first {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 57vw;
        height: 25vh;
        .first__first {
          width: 27vw;
          height: 25vh;
          background: url('image/Work.svg') no-repeat center / contain;
          margin-right: 2vw;
        }

        .first__second {
          width: 34vw;
          height: 25vh;
          background: url('image/coding.svg') no-repeat center / contain;
        }
      }

      .second {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 57vw;
        height: 25vh;
        .second__first {
          width: 27vw;
          height: 25vh;
          background: url('image/Work.svg') no-repeat center / contain;
          margin-right: 2vw;
        }

        .second__second {
          width: 34vw;
          height: 25vh;
          background: url('image/codingFill.svg') no-repeat center / contain;
        }
      }

      .third {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 57vw;
        height: 25vh;
        .third__first {
          width: 27vw;
          height: 25vh;
          background: url('image/WorkFill.svg') no-repeat center / contain;
          margin-right: 2vw;
          fill: #fff;
        }

        .third__second {
          width: 34vw;
          height: 25vh;
          background: url('image/coding.svg') no-repeat center / contain;
        }
      }
    }

    .bubble {
      width: 105%;
      height: 48vh;
      background: url('image/bubble.svg') no-repeat center / cover;
      position: absolute;
      transform: translateY(62%) !important;
    }
  }

  #CodingWork {
    width: 100%;
    height: 140vh;
    background: var(--background1);
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100px;
      position: absolute;
      bottom: -77px;
      left: 0;
      background-image: url('image/workwave.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }

    h2 {
      font-size: 7vw;
      font-family: var(--font2);
      text-align: center;
      padding-top: 5vw;
      line-height: 1;
      margin-bottom: 20px;
      text-transform: uppercase;
      color: var(--font-color2);
    }

    > p {
      text-align: center;
      font-family: var(--font1);
      margin-bottom: 70px;
      font-weight: 400;
      font-size: 1vw;
      color: var(--font-color2);
    }

    .CodingWork__inner {
      width: 1556px;
      width: 81vw;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      > img {
        display: block;
        width: 33vw;
        margin-right: 6.2vw;
        margin-bottom: 40px;
      }

      .menu {
        background-color: var(--white);
        border-radius: 10px;
        width: 100%;
        height: 236px;

        .menu__list {
          display: flex;
          li {
            margin-right: 20px;
            margin-top: 25px;
            margin-left: 45px;
            user-select: none;
            &.active a {
              color: var(--font-color5);
            }
            a {
              font-family: var(--font3);
              font-weight: 400;
              font-size: 22px;
              color: var(--font-color4);
              font-weight: 400;
              font-weight: bold;
            }
          }
        }

        .menu__conts {
          display: flex;
          > div {
            width: 7vw;
            height: 7vw;
            margin: 25px 1vw auto 2.2vw;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
    }
  }

  #CodingWorkList {
    width: 64vw;
    margin: 0 auto;
    background: var(--white);
    color: var(--font-color2);
    margin-bottom: 20vw;

    h2 {
      font-size: 7vw;
      font-family: var(--font2);
      text-align: center;
      padding-top: 10vw;
      line-height: 1;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    > p {
      text-align: center;
      font-family: var(--font1);
      margin-bottom: 125px;
      font-weight: 400;
      font-size: 1vw;
    }

    .CodingWorkList__inner {
      .list__conts {
        display: flex;
        flex-wrap: wrap;
        .list__conts__detail {
          width: 49%;
          margin-right: 2%;
          padding: 25px 0 10px 0;
          border-top: 1px solid var(--font-color2);
          display: flex;
          min-height: 18vh;
          box-sizing: border-box;

          &:nth-child(2n) {
            margin-right: 0;
          }

          &:nth-child(5),
          &:nth-child(6) {
            border-bottom: 1px solid var(--font-color2);
          }
          .list__conts__detail__title {
            width: 30%;
            margin-right: 10%;
            font-family: var(--font1);
            font-weight: 400;
          }

          .list__conts__detail__desc {
            width: 60%;
            li {
              margin-bottom: 15px;
              position: relative;
              box-sizing: border-box;
              a {
                font-family: var(--font1);
                font-weight: 400;
                color: var(--font-color2);
                display: inline-block;

                &::before {
                  content: '';
                  position: absolute;
                  left: 15vw;
                  top: -8px;
                  background: url('image/check.svg') no-repeat center / cover;
                  width: 34px;
                  height: 36px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  #coding {
    #CodingWorkList {
      h2 {
      }

      > p {
      }

      .CodingWorkList__inner {
        .list__conts {
          display: flex;
          flex-wrap: wrap;
          .list__conts__detail {
            width: 100%;

            &:nth-child(5) {
              border-bottom: 0;
            }
            .list__conts__detail__title {
            }

            .list__conts__detail__desc {
              li {
                a {
                  width: 60%;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  &::before {
                    content: '';
                    position: absolute;
                    left: 30vw;
                    top: -8px;
                    background: url('image/check.svg') no-repeat center / cover;
                    width: 34px;
                    height: 36px;
                    transform: scale(0.8);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
