#coding {
  overflow: hidden;
  position: relative;

  #codingIntro {
    width: 100%;
    height: 180vh;
    background: var(--background2);
    position: relative;
    .codingIntro__inner {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 30vh;
      .first {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70vw;
        height: 242px;
        .first__first {
          width: 27vw;
          height: 242px;
          background: url('image/Work.svg') no-repeat center / contain;
          margin-right: 2vw;
        }

        .first__second {
          width: 34vw;
          height: 242px;
          background: url('image/coding.svg') no-repeat center / contain;
        }
      }

      .second {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70vw;
        height: 242px;
        .second__first {
          width: 27vw;
          height: 242px;
          background: url('image/Work.svg') no-repeat center / contain;
          margin-right: 2vw;
        }

        .second__second {
          width: 34vw;
          height: 242px;
          background: url('image/codingFill.svg') no-repeat center / contain;
        }
      }

      .third {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70vw;
        height: 242px;
        .third__first {
          width: 27vw;
          height: 242px;
          background: url('image/WorkFill.svg') no-repeat center / contain;
          margin-right: 2vw;
          fill: #fff;
        }

        .third__second {
          width: 34vw;
          height: 242px;
          background: url('image/coding.svg') no-repeat center / contain;
        }
      }
    }

    .bubble {
      width: 105%;
      height: 450px;
      background: url('image/bubble.svg') no-repeat center / contain;
      position: absolute;
      transform: translateY(58%);
    }
  }

  #CodingWork {
    width: 100%;
    height: 100vh;
    background: var(--background1);
  }

  #CodingWorkList {
    width: 100%;
    height: 100vh;
    background: var(--white);
    color: var(--font-color2);
  }
}
