#intro {
  width: 100%;
  height: 100vh;
  background-color: var(--background2);
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .intro__inner {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      text-align: center;
      font-family: var(--font2);
      font-size: 19vw;
      line-height: 1;
    }
  }

  .intro__imgs {
    img {
      display: block;
      position: absolute;
      width: 35vw;
      right: 5vw;
      bottom: -7vw;
      z-index: 2;
    }

    .left__top {
      background: url('../img/360.svg') no-repeat center / cover;
      width: 18vw;
      height: 18vw;
      position: absolute;
      left: -4%;
      top: -6%;
    }
    .left__mid {
      background: url('../img/140.svg') no-repeat center / cover;
      width: 9vw;
      height: 9vw;
      position: absolute;
      left: 12%;
      top: 56%;
    }
    .center__mid {
      background: url('../img/292.svg') no-repeat center / cover;
      width: 15vw;
      height: 15vw;
      position: absolute;
      right: 24%;
      top: 15%;
      z-index: 1;
    }
    .center__right {
      background: url('../img/105.svg') no-repeat center / cover;
      width: 7vw;
      height: 7vw;
      position: absolute;
      right: 10%;
      top: 18%;
    }
    .paint {
      background: url('../img/paint.png') no-repeat center / cover;
      width: 12vw;
      height: 12vw;
      position: absolute;
      left: 30%;
      top: 25%;
      z-index: 3;
    }
    .pocket {
      background: url('../img/pocket.png') no-repeat center / cover;
      width: 11vw;
      height: 11vw;
      position: absolute;
      left: 42%;
      bottom: 18%;
      z-index: 3;
    }
  }
}

@media (max-width: 1220px) {
  #intro {
    .intro__imgs {
      img {
        bottom: 8vw;
      }
      .left__top {
        width: 280px;
        height: 280px;
      }
      .left__mid {
        width: 110px;
        height: 110px;
        left: 10%;
        top: 55%;
      }
      .center__mid {
        right: 20%;
        top: 25%;
      }
      .center__right {
        top: 30%;
        right: 7%;
      }
      .paint {
        top: 36%;
      }
      .pocket {
        bottom: 34%;
      }
    }
  }
}

@media (max-width: 768px) {
  #intro {
    .intro__imgs {
      img {
        bottom: 30vw;
      }
      .left__top {
        width: 200px;
        height: 200px;
        left: -6%;
        top: -6%;
      }
      .left__mid {
        width: 60px;
        height: 60px;
        left: 8%;
        top: 54%;
      }
      .center__mid {
        right: 19%;
        top: 32%;
      }
      .paint {
        top: 40%;
      }
      .pocket {
        bottom: 34%;
      }
    }
  }
}

@media (max-width: 525px) {
  #intro {
    .intro__imgs {
      img {
        bottom: 53vw;
      }
      .center__mid {
        right: 19%;
        top: 38%;
      }
      .center__right {
        top: 40%;
      }
      .paint {
        top: 43%;
      }
      .pocket {
        left: 30%;
        bottom: 37%;
      }
    }
  }
}

@media (max-width: 468px) {
  #intro {
    .intro__imgs {
      img {
        width: 38vw;
        bottom: 70vw;
      }
      .left__top {
        width: 180px;
        height: 180px;
        left: -10%;
        top: -5%;
      }
      .left__mid {
        width: 45px;
        height: 45px;
        left: 5%;
        top: 52%;
      }
    }
  }
}
