#intro {
  background-color: var(--background2);
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .intro__inner {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      text-align: center;
      font-family: var(--font2);
      font-size: 19vw;
      line-height: 1;
      user-select: none;

      > span {
        opacity: 0;
        display: block;
      }
    }

    .myImg {
      // transform: translate(25vw, 10vw) !important;
      position: absolute;
      right: 5vw !important;
      bottom: 12vw !important;
      width: 35vw;
      height: 20vw;
      background-size: contain;
      transform-origin: bottom right;
      z-index: 2;
      img {
        display: block;
      }
    }

    .paint {
      background: url('../image/paint.png') no-repeat center / cover;
      width: 11vw;
      height: 11vw;
      position: absolute;
      transform: translate(-17vw, -17vw) !important;
      z-index: 3;
    }

    .pocket {
      background: url('../image/pocket.png') no-repeat center / cover;
      width: 11vw;
      height: 11vw;
      position: absolute;
      transform: translate(-2vw, 13vw) !important;
      z-index: 3;
    }
  }
}

// @media (max-width: 1220px) {
//   #intro {
//     .intro__inner {
//       .myImg {
//         width: 40vw;
//         bottom: 2vw;
//         right: -7vw !important;
//       }
//     }
//   }
// }

// @media (max-width: 768px) {
//   #intro {
//     .intro__inner {
//       .myImg {
//         width: 60vw;
//         bottom: -5vw;
//         right: -25vw !important;
//       }
//     }
//   }
// }

// @media (max-width: 486px) {
//   #intro {
//     .intro__inner {
//       h2 {
//         margin-bottom: 50px;
//       }
//       .myImg {
//         width: 75vw;
//         bottom: -12vw;
//         right: -35vw !important;
//       }
//       .paint {
//         transform: translate(-17vw, -24vw) !important;
//       }

//       .pocket {
//         transform: translate(-2vw, 9vw) !important;
//       }
//     }
//   }
// }

@media (max-width: 1080px) {
  #intro {
    height: 100vh;
    .intro__inner {
      .myImg {
        width: 50vw;
        height: 30vh;
        bottom: 18vw !important;
        right: -10vw !important;
        background-position: right bottom -10vh;
      }
    }
  }
}

@media (max-width: 850px) {
  #intro {
    height: 100vh;
    .intro__inner {
      .myImg {
        width: 55vw;
        height: 20vh;
        bottom: 30vw !important;
        right: -10vw !important;
      }
    }
  }
}

@media (max-width: 600px) {
  #intro {
    height: 100vh;
    .intro__inner {
      .myImg {
        width: 65vw;
        height: 24vh;
        bottom: 16vw !important;
        right: -13vw !important;
      }
    }
  }
}

@media (max-width: 430px) {
  #intro {
    height: 100vh;
    .intro__inner {
      .myImg {
        width: 75vw;
        height: 25vh;
        bottom: 16vw;
        right: -10vw !important;
      }
    }
  }
}
