#intro {
  width: 100%;
  height: 100vh;
  background-color: var(--background2);
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;

  .intro__inner {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      text-align: center;
      font-family: var(--font2);
      font-size: 19vw;
      line-height: 1;
      user-select: none;

      > span {
        display: block;
      }
    }

    .myImg {
      position: absolute;
      width: 34vw;
      height: auto;
      transform: translate(25vw, 10vw) !important;
      bottom: -2vw;
      z-index: 2;
      img {
        display: block;
      }
    }

    .paint {
      background: url('../image/paint.png') no-repeat center / cover;
      width: 11vw;
      height: 11vw;
      position: absolute;
      transform: translate(-17vw, -17vw) !important;
      z-index: 3;
    }

    .pocket {
      background: url('../image/pocket.png') no-repeat center / cover;
      width: 11vw;
      height: 11vw;
      position: absolute;
      transform: translate(-2vw, 13vw) !important;
      z-index: 3;
    }
  }
}

@media (max-width: 1220px) {
  #intro {
    .intro__inner {
      .myImg {
        width: 45vw;
        bottom: 2vw;
        right: -2vw !important;
      }
    }
  }
}

@media (max-width: 768px) {
  #intro {
    .intro__inner {
      .myImg {
        width: 60vw;
        bottom: -1vw;
        right: -20vw !important;
      }
    }
  }
}

@media (max-width: 486px) {
  #intro {
    .intro__inner {
      .myImg {
        width: 87vw;
        bottom: -12vw;
        right: -35vw !important;
      }
    }
  }
}
